/**
 * Auth 丁少华
 * Date 2016-09-30
 */

/*@font-face {
  font-family: 'iconfont';  /* project id 432495 */
  /*src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}*/

@font-face {
  font-family: 'iconfont';  /* project id 432495 */
  src: url('http://at.alicdn.com/t/font_432495_fvhe1jjil5e45cdi.eot');
  src: url('http://at.alicdn.com/t/font_432495_fvhe1jjil5e45cdi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_432495_fvhe1jjil5e45cdi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_432495_fvhe1jjil5e45cdi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_432495_fvhe1jjil5e45cdi.svg#iconfont') format('svg');
}
.iconfont {
    font-family: 'iconfont';
    font-size: 14px;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'PingFang SC', 'STHeiti', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 12px;
}
textarea{
    resize: none;
}
input,
textarea {
    border: 0; /* 方法1 */
    -webkit-appearance: none; /* 方法2 */
}
.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-clear:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
}

.border-1px {
    position: relative;
}

.border-1px:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .border-1px:after {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .border-1px:after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .border-1px:after {
        -webkit-transform: scaleY(0.3);
        transform: scaleY(0.3);
    }
}



/* 评论输入框 */
.comment-box {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 54px;
    box-sizing: border-box;
    padding: 9px 4px;
    background-color: #edeef2;
}

.comment-box .comment-input {
    flex: 1;
    height: 34px;
    padding: 0 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 34px;
    color: #a3a3a3;
    font-size: 14px;
    vertical-align: middle;
}

.comment-box .comment-input::placeholder {
    color: #a3a3a3;
}

.comment-box .like, .comment-box .send {
    flex: 0 0 36px;
    height: 36px;
    line-height: 36px;
    color: #767886;
    font-size: 20px;
    text-align: center;
}
.overflow-handle {
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* ng-cloak修复闪跳 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}
