/* 通用头部 */
.header {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #ff8c19;
	line-height: 40px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	overflow: hidden;
}

.header .back {
	position: absolute;
	top: 0;
	left: 15px;
	color: #fff;
	text-decoration: none;
}

.header .back:before {
	content: '\e622';
	margin-right: 5px;
	font-family: 'iconfont';
}

.header .title {
	margin: 0 80px;
	font-size: 17px;
}

.header .title .iconfont {
	font-size: 17px;
}

.header .city {
	position: absolute;
	top: 0;
	right: 15px;
}

.header .city:after {
	content: '\e600';
	margin-left: 5px;
	font-family: 'iconfont';
}
/*通用头部*/

.update-list{
	position: relative;
}
.update-list li{
	position: relative;
	height: 54px;
	margin-left: 17px;
	border-bottom: 1px solid #d2d2d2;
	overflow: hidden;
}
.update-list li::after{
	position: absolute;
	content: '';
	top: 19px;
	right: 23px;
	width: 10px;
	height: 17px;
	background: url('../../images/icon-right.png') no-repeat;
	background-size: 10px 17px;
}
.update-list li .p1{
	width: calc(100% - 45px);
	margin: 11px 0 6px;
	font-size: 15px;
	color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.update-list li .p2{
	color: #8f8f8f;
	font-size: 11px;
}