<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>考勤打卡</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/datepicker.css">
    <link rel="stylesheet" href="../../resources/css/checkingInPunchCard.css">
</head>
<body ng-cloak ng-controller="homeCtrl" >
    <div class="checking-card">
        <p class="top-line"><i class="iconfont">&#xe683;</i>点击“缺勤”日期可以补打卡</p>
        <div class="cal">
            <div calendar daily-card-date="{{dailyCardDate}}" absenteeism-date="{{absenteeismDate}}" leave-date="{{leaveDate}}"></div>
            <ul class="intrd">            
                <li><i class="red"></i>缺勤</li>  
                <li><i class="blue"></i>签到</li>
                <li><i class="org"></i>请假</li>
            </ul>
        </div>
        <div class="card-box fn-clear">
            <p class="p-card fn-left"><img src="../../resources/images/icon-card-start.png">上班</p>
            <button class="card-start-btn fn-right" ng-click="checkingCard()">打卡</button>
        </div>
        <div class="card-box">
            <p class="p-card fn-left"><img src="../../resources/images/icon-card-end.png">下班</p>
            <button class="card-start-btn fn-right" ng-click="checkingCard()">打卡</button>
        </div>
        <!-- 打卡成功/迟到-->
        <div class="checking-card-popup" ng-show="showCard">
            <span class="close iconfont" ng-click="close()">&#xe633;</span> 
            <p class="p-one"><i class="iconfont">&#xe683;</i>打卡成功</p>
            <!-- <p class="p-one"><i class="iconfont">&#xe683;</i>打卡迟到</p>   -->
            <p class="now-time" ng-bind="nowTime"></p>
            <div class="wrds">
                坚持是世界上最难的事<br/>也是最容易的事
            </div>
            <!-- <textarea class="reason" placeholder="请填写迟到原因，20字以内"></textarea> -->            
            <button class="submit-btn" ng-click="close()">我知道了</button>
            <!-- <button class="submit-btn">提交</button> -->
        </div>
        <div class="zhezhao" ng-show="showCard"></div>
    </div>
    <script src="../../resources/js/require.js" data-main="../../resources/js/requireConfig.js" id="page" current-page="../../resources/js/checkingInPunchCard.js" target-module="checkingInPunchCardModule"></script>
</body>

</html>
