<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>考勤打卡</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/checkingInPunchCard.css">
</head>
<body>
    <div class="checking-card">
        <p class="top-line"><i class="iconfont">&#xe683;</i>点击“缺勤”日期可以补打卡</p>
        <div class="cal">
            <div class="calendar"></div>
            <ul class="intrd">            
                <li><i class="red"></i>缺勤</li>  
                <li><i class="blue"></i>签到</li>
                <li><i class="org"></i>请假</li>
            </ul>
        </div>
        <div class="card-box fn-clear">
            <p class="p-card fn-left"><img src="../../resources/images/icon-card-start.png">上班</p>
            <button class="card-start-btn fn-right">打卡</button>
        </div>
        <div class="card-box">
            <p class="p-card fn-left"><img src="../../resources/images/icon-card-end.png">下班</p>
            <button class="card-start-btn fn-right">打卡</button>
        </div>
        <!-- 打卡成功-->
        <!-- <div class="checking-card-popup">
            <span class="close iconfont">&#xe633;</span> 
            <p class="p-one"><i class="iconfont">&#xe683;</i>打卡成功</p>
            <p class="now-time"></p>
            <div class="wrds">
                坚持是世界上最难的事<br/>也是最容易的事
            </div>
            <button class="submit-btn" click="close()">我知道了</button>
        </div>
        <div class="zhezhao"></div> -->
        <!-- 打卡迟到-->
        <!-- <div class="checking-card-popup">
            <span class="close iconfont">&#xe633;</span> 
            <p class="p-one"><i class="iconfont">&#xe683;</i>打卡迟到</p>  
            <p class="now-time"></p>           
            <textarea class="reason" placeholder="请填写迟到原因，20字以内"></textarea>            
            <button class="submit-btn">提交</button>
        </div>
        <div class="zhezhao"></div> -->
    </div> 
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/lodash.min.js"></script>
    <script src="../../resources/js/jquery.calendar.js"></script>
    <script src="../../resources/js/checkingInPunchCard.js"></script>
</body>

</html>
