<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>客户详情</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/myCustomerDetail.css">
</head>
<body ng-controller="homeCtrl" ng-cloak>
    <div class="header">
        <img src="../../resources/images/icon-house.png" class="house">
        <div class="wrds">
            <p class="p1">{{myCustomerList.custAddr}}</p>
            <p class="p2">{{myCustomerList.custName}}</p>
        </div>
    </div>
    <div class="info-title">客户信息详情：</div>
    <ul class="info">
        <li><div class="wrds"><span>老板联系电话：</span>{{myCustomerList.bossPhone}}</div><a class="iconfont call-tel" href="#" ng-click="phone(myCustomerList.bossPhone)">&#xe609;</a></li>
        <li><div class="wrds"><span>终端业务负责人姓名：</span>{{myCustomerList.terminalPersonName}}</div></li>
        <li><div class="wrds"><span>终端业务负责人电话：</span>{{myCustomerList.terminalPersonPhone}}</div><a class="iconfont call-tel" href="#" ng-click="phone(myCustomerList.terminalPersonPhone)">&#xe609;</a></li>
        <li><div class="wrds"><span>客商分级：</span>{{myCustomerList.custLevel | custLevelCnt}}</div></li>
        <li><div class="wrds"><span>客户地址：</span>{{myCustomerList.custAddr}}</div></li>
        <li><div class="wrds" ng-click="goToChannelList(myCustomerList)"><span>关联渠道：</span>{{myCustomerList.custChannelNum}}</div><i class="iconfont">&#xe628;</i></li>
    </ul>
    <ul class="goods-num">
        <li ng-class="{'on': selected === 1}" ng-click="change(1)">天翼购提货量</li>
        <li ng-class="{'on': selected === 2}" ng-click="change(2)">客户提货积分</li>
    </ul>
    <div class="num-detail ty" ng-show="selected === 1">
        <div class="num-info day">
            <span class="circle" ng-bind="myCustomerList.tygGoodsByDay"></span>
            <p>日</p>
        </div>
        <div class="num-info week">
            <span class="circle">{{myCustomerList.tygGoodsByWeek}}</span>
            <p>周</p>
        </div>
        <div class="num-info month">
            <span class="circle">{{myCustomerList.tygGoodsByMonth}}</span>
            <p>月</p>
        </div>
    </div>
    <div class="num-detail cus" ng-show="selected === 2">
        <div class="num-info day">
            <span class="circle">{{myCustomerList.pointByDay}}</span>
            <p>日</p>
        </div>
        <div class="num-info week">
            <span class="circle">{{myCustomerList.pointByWeek}}</span>
            <p>周</p>
        </div>
        <div class="num-info month">
            <span class="circle">{{myCustomerList.pointByMonth}}</span>
            <p>月</p>
        </div>
    </div>
    <script src="../../resources/js/require.js" data-main="../../resources/js/requireConfig.js" id="page" current-page="../../resources/js/myCustomerDetail.js" target-module="myCustomerDetailModule"></script>
</body>
</html>
