<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>关联门店</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/relationStore.css">
</head>
<body >
<ul class="my-customer">
    <li>
        <img src="../../resources/images/icon-yel-store.png">
        <div class="info">
            <p class="p1"><span>有效</span>江苏新奇特XXX经营XXX</p>
            <p class="p2">江苏省南京市玄武区中央路2号鼓楼天翼广场1楼电信营业厅广场1楼电信营业厅广场1楼电信营业厅</p>
        </div>
    </li>
    <li>
        <img src="../../resources/images/icon-yel-store.png">
        <div class="info">
            <p class="p1"><span>有效</span>江苏新奇特XXX经营XXX</p>
            <p class="p2">江苏省南京市浦口区江北高新路12号</p>
        </div>
    </li>
    <li>
        <img src="../../resources/images/icon-yel-store.png">
        <div class="info">
            <p class="p1"><span>有效</span>江苏新奇特XXX经营XXX</p>
            <p class="p2">江苏省南京市浦口区江北高新路12号</p>
        </div>
    </li>
</ul>
</body>
</html>
