<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>关联门店</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/relationStore.css">
</head>
<body ng-controller="homeCtrl" ng-cloak>
    <ul class="my-customer" infinite-scroll="relationStore.queryRelationStore(myCustomerList.custId)" infinite-scroll-distance='3'>
        <li ng-repeat="item in relationStore.relationStoreList">
            <img src="../../resources/images/icon-yel-store.png">
            <div class="info">
                <p class="p1"><span ng-bind="item.channelStatus | channelStatusName" ng-class="{'org': item.channelStatus == 1000, 'grey': item.channelStatus == 1100, 'red': item.channelStatus == 1002, 'blue': item.channelStatus == 1001}"></span>{{item.channelName}}</p>
                <p class="p2" ng-bind="item.channelAddr"></p>
            </div>
        </li>
    </ul>
    <script src="../../resources/js/require.js" data-main="../../resources/js/requireConfig.js" id="page" current-page="../../resources/js/relationStore.js" target-module="relationStoreModule"></script>
</body>
</html>
