<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>山东翼管店微信首页</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/shanDongYiStoreWebchat.css">
</head>
<body >
    <div class="header"></div>  
    <ul class="tasks">
        <li class="my-li bordertop-1px">
            <div class="my-place overflow-handle"><i class="iconfont">&#xe621;</i> 我的辖区</div>
            <div class="li-cont">
                <div class="cont-item">
                    <img src="../../resources/images/icon-customer.png" alt="">
                    <p class="titl overflow-handle">我的客户</p>
                </div>
                <div class="cont-item">
                    <img src="../../resources/images/icon-store.png" alt="">
                    <p class="titl overflow-handle">我的门店</p>
                </div>
                <div class="cont-item">
                    <img src="../../resources/images/icon-git.png">
                    <p class="titl overflow-handle">门店地图</p>
                </div>
            </div>
        </li>
        <li class="my-li bordertop-1px">
            <div class="my-place overflow-handle"><i class="iconfont">&#xe674;</i> 我的任务</div>
            <div class="li-cont">
                <div class="cont-item">
                    <img src="../../resources/images/icon-work.png" alt="">
                    <p class="titl overflow-handle">任务管理</p>
                </div>
                <div class="cont-item">
                    <img src="../../resources/images/icon-xunstore.png" alt="">
                    <p class="titl overflow-handle">日常巡店</p>
                </div>
                <div class="cont-item">
                    <img src="../../resources/images/icon-report.png" alt="">
                    <p class="titl overflow-handle">工作汇报</p>
                </div>
            </div>
        </li>
        <li class="my-li bordertop-1px">
            <div class="my-place overflow-handle"><i class="iconfont">&#xe608;</i> 督导考勤</div>
            <div class="li-cont">
                <div class="cont-item">
                    <img src="../../resources/images/icon-kaoqin.png" alt="">
                    <p class="titl overflow-handle">考勤打卡</p>
                </div>
                <div class="cont-item">
                    <img src="../../resources/images/icon-telnumber.png" alt="">
                    <p class="titl overflow-handle">通讯录</p>
                </div>
                <div class="cont-item">
                    <img src="../../resources/images/icon-gitmap.png" alt="">
                    <p class="titl overflow-handle">轨迹地图</p>
                </div>
            </div>
        </li>
    </ul>
</body>
</html>
