<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>通讯录</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/telphoneList.css">
</head>
<body ng-controller="homeCtrl" ng-cloak>
<div class="search">
    <input type="text" placeholder="输入姓名或手机号码搜索" ng-model="str">
</div>
<ul class="tel-list" infinite-scroll="customerQuery.queryMyCustomer(str)" infinite-scroll-distance='3'>
    <li ng-repeat="item in customerQuery.phoneList">
        <span class="name">{{item.staffName}}</span>
        <span class="tel">{{item.staffPhone}}</span>
        <a class="iconfont call-tel" href="#" ng-click="phone(item.staffPhone)">&#xe6d6;</a>
    </li>
</ul>
</body>
<script src="../../resources/js/require.js" data-main="../../resources/js/requireConfig.js" id="page" current-page="../../resources/js/telphoneList.js" target-module="telphoneListModule"></script>
</html>
