<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=1.0">
    <title>通讯录</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/telphoneList.css">
</head>
<body >
<div class="search">
    <input type="text" placeholder="输入姓名或手机号码搜索">
</div>
<ul class="tel-list">
    <li>
        <span class="name">李明</span>
        <span class="tel">15651806999</span>
        <a class="iconfont" href="javascript:">&#xe6d6;</a>
    </li>
    <li>
        <span class="name">古力娜扎</span>
        <span class="tel">15651806999</span>
        <a class="iconfont" href="javascript:">&#xe6d6;</a>
    </li>
    <li>
        <span class="name">李明</span>
        <span class="tel">15651806999</span>
        <a class="iconfont" href="javascript:">&#xe6d6;</a>
    </li>
    <li>
        <span class="name">李明</span>
        <span class="tel">15651806999</span>
        <a class="iconfont" href="javascript:">&#xe6d6;</a>
    </li>
</ul>
</body>
</html>
